body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #063672;
}

/* Navigation Bar Styling */
nav{
    background-color: white;
    border-bottom: 2px solid #DB0007;
    overflow: hidden;
    
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    float: left;
}

nav ul li a{
    display: block;
    font-weight: bold;
    color: rgb(46, 46, 46);
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    padding: 14px 16px;
    height: 50px;
}

nav ul li a:hover{
    color: #063672;
    text-decoration: underline #DB0007; 
}

nav ul li a.active{
    background-color: #DB0007;
    color: white;
}

/* Image Styling */
.hero {
    max-width: 100%;
    height:auto;
}

/* Div Styling */

div {
    background-color: white;
    border-radius: 3px;
}

.title{
    border-bottom: 2px solid #DB0007;
}

.title h1 {
    color: #063672;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 4px;
    padding: 5px;
}

/* Results & Fixtures */

.scorecard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    text-align: center;
}

.team-info{

}

.crest{

}

.match-details{
}

/* News Card */

.news-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;

}
.news-card {
    margin: 20px;
    width: 240px;
    height:240px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #000000;
    position: relative;
}

.news-image {
    width: 100%;
    height: 100%;
    display: block;

}

.news-story {
    border-top: 1px solid #DB0007;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;

}

/* Responsive Styling */

@media (max-width: 600px) {
    nav ul li {
        float: none;
        display: block;
        text-align: center;
    }

    .scorecard{
        flex-direction: column;
    }

    .team-info, .match-details{
        width: 100%;

    }
}