body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #063672;
}

/* Navigation Bar Styling */
nav{
    background-color: white;
    border-bottom: 2px solid #DB0007;
    overflow: hidden;
    position: sticky;
    z-index: 100;
    top: 0px;
    
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    float: left;
}

nav ul li a{
    display: block;
    font-weight: bold;
    color: #2e2e2e;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    padding: 14px 16px;
    height: 50px;
}

nav ul li a:hover{
    color: #063672;
    text-decoration: underline #DB0007; 
}

nav ul li a.active{
    background-color: #DB0007;
    color: white;
}

/* Image Styling */
.hero {
    max-width: 100%;
    height:auto;
    
}

/* Div Styling */

div {
    background-color: white;
    border-radius: 3px;
}

.title{
    border-bottom: 2px solid #DB0007;
}

.title h1 {
    color: #063672;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 4px;
    padding: 5px;
}

/* Results & Fixtures */

.scorecard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px;
    align-items: center;
    justify-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #2e2e2e
}

.home {
    grid-area: 2 / 1 / 3 / 2;
}

.home h3 {
    text-align: center;
    font-weight: bold;
}

.home-scorer {
    grid-area: 3 / 1 / 4 / 2;
}

.home-crest {
    grid-area: 2 / 2 / 4 / 3;
}

.home-crest img {
    width: auto;
    height: 60px;
}

.match-date {
    grid-area: 1 / 3 / 2 / 4 ;
}

.match-date p {
    text-align: center;
    font-size: 16px;
    line-height: 10px;
    margin-bottom: 0;
}

.match-date .date{
    font-weight: 800;
}

.score {
    grid-area: 2 / 3 /4 / 4;
}

.location {
    grid-area: 4 / 3 / 5 / 4;
}

.location p {
    text-align: center;
    font-size: 16px;
    line-height: 10px;
    margin-top: 0;
}

.away-crest { 
    grid-area: 2 / 4 / 4 / 5;
}

.away-crest img {
    width: auto;
    height: 60px;
}

.away {
    grid-area: 2 / 5 / 3 / 6;
}

.away h3 {
    text-align: center;
    font-weight: bold;
}

.away-scorer {
    grid-area: 3 / 5 / 4 / 6;
}

/* News Card */

.news-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;

}
.news-card {
    margin: 20px;
    width: 240px;
    height:240px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #0000004f;
    position: relative;
}

.news-image {
    width: 100%;
    height: auto;
    /* display: block; */

}

.news-story {
    border-top: 1px solid #DB0007;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.news-story h3{
    padding-left: 4px;
    line-height: 12px;
}

.news-story p{
    padding: 4px;
    line-height: 2px;
}

/* Tables */

table {
    width: 100%;
    margin: 20px auto;
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: #DB0007 .1px solid;
}

thead {
    background-color: #DB0007;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr:nth-child(odd) {
    background-color: #dfdfdf;
}

/* History */

.history {
    width: 90%;
    margin: 40px;
    padding: 8px;
}

.history dt {
    font-size: 20px;
    color: #063672;
    font-weight: bold;
    margin: 18px;
}

/* Player Bios */

.position-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.player-container{
    position: relative;
    margin: 20px;
    width: 240px;
    height:100%;
    overflow: hidden;
}

.player-image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0637723d;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.player-container:hover .overlay {
    height: 100%;
}

.player-text {
    color: white;
    background-color: #0637723d;
    font-size: 26px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Responsive Styling */

@media (max-width: 600px) {
nav{
    position: static;
}

nav ul li {
    float: none;
    display: block;
    text-align: center;
    }

.scorecard{
    flex-direction: column;
    }

.team-info, .match-details{
    width: 100%;
    }
}

